.intro {
  max-width: 1184px;
  width: 100%;
  margin: 90px  auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.__title {
  max-width: 690px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.__text {
  max-width: 690px;
  width: 100%;
  margin: 40px 0 35px 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.__list-items {
  margin: 0;
  padding: 0;
}

.__list {
  max-width: 690px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .__title {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .__list {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .__title {
    min-width: 288px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .__text {
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .__list {
    min-width: 288px;
    margin: 0 auto;
  }
}